<div class= "direction_bar">
</div>

<div id= "mapdiv">
</div>

<div id="back_block">
	<div class="modal_box">
		<h1>AccessAround</h1>
		<h3>Form will be here</h3>
		<h3>Form will be here</h3>
	</div>
</div>
