html {
	height: 100%;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.modal_box	{
	width: 600px;
	height: 200px;
	border-radius: 20px;
	background-color: #ad9055;
	border-color: #304376;
	border-style: solid;
	border-weight: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

#back_block {
	background:rgba(78, 88, 114, 0.6);
	height: 100%;
	width: 100%;
	position: fixed;
}

.direction_bar {
	float: left;
	background: #304376;
	width: 30%;
	min-height: 100%;
}

#map_div {
	float: left;
	background: #404E72;
	width: 70%;
	min-height: 100%;
}